@charset "UTF-8";

/* 헤더영역 */
#header {z-index:3;position:fixed;top:0;left:0;width:100%;height:79px;border-bottom:1px solid rgba(0,0,0, 0);background:transparent;transition:height .3s, background-color .6s;}
#header.addMousewheel {top:-100px;}
#header.addMobile {height:64px;background:#fff;border-bottom:1px solid #ddd;}
#header .wrap {width:100%;max-width:1183px;margin:0 auto;}
#header .wrap .gap {position:relative;padding:0 15px;}
#header .wrap .gap .left {float:left;padding:22px 0;}
#header.addMobile .wrap .gap .left {padding:14.5px 0;}

#header .wrap .gap .left .logo {display:block;}
#header .wrap .gap .left .logo a {display:block;}
#header .wrap .gap .left .logo .logo-btn1 {display:block;}
#header .wrap .gap .left .logo .logo-btn2 {display:none;}
#header.addMobile .wrap .gap .left .logo .logo-btn1 {display:none;}
#header.addMobile .wrap .gap .left .logo .logo-btn2 {display:block;}
#header .wrap .gap .left .logo a img {width:109px;height:35px;}

/* 메인메뉴 */
#header .wrap .gap .middle {float:left;width:100%;max-width:931px;padding:2.900107% 0;text-align:right;} /*27px*/
#header.addMobile .wrap .gap .middle {padding:19.5px 0;}
#header .wrap .gap .middle #nav {width:100%;}
#header .wrap .gap .middle #nav > ul {padding-top:0;}
#header .wrap .gap .middle #nav > ul > li {display:inline-block;margin:0 2.148227%;}  /*20px*/
#header .wrap .gap .middle #nav > ul > li .main-btn {display:inline-block;font-size:11px;font-weight:600;line-height:23px;letter-spacing:1px;color:#c8c8c8;transition:color .5s;}
#header .wrap .gap .middle #nav > ul > li .main-btn:hover {color:#fff;}
#header.addMobile .wrap .gap .middle #nav > ul > li .main-btn {color:#888;transition:color .5s;}
#header.addMobile .wrap .gap .middle #nav > ul > li .main-btn:hover {color:#000;}
#header .wrap .gap .middle #nav > ul > li .main-btn i {display:block;width:100%;height:2px;transform:scale(0,1);background:#c8c8c8;transition:all .5s ease-in-out;}
#header .wrap .gap .middle #nav > ul > li .main-btn:hover i {transform:scale(1,1);background-color:#fff;}
#header.addMobile .wrap .gap .middle #nav > ul > li .main-btn:hover i {transform:scale(1,1);background-color:#000;}

/* 서브메뉴 */
#header .wrap .gap .middle #nav > ul > li .sub {display:none;position:absolute;top:80px;left:0;width:100%;text-align:left;background:rgba(27,22,28, 0.95);}
#header.addMobile  .wrap .gap .middle #nav > ul > li .sub {top:65px;}
#header .wrap .gap .middle #nav > ul > li .sub > ul {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap {width:1100px;margin:0 auto;padding:30px 0;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li {float:left;width:25%;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li {width:100%;line-height:23px;padding:2px 0;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li:first-child {margin-bottom:15px;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li > a {font-size:11px;letter-spacing:0.3px;color:#c8c8c8;transition:all .5s;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li > a:hover {color:#fff;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li > a i {font-size:11px;font-weight:900;color:#fff;margin:0 10px 0 3px;}
#header .wrap .gap .middle #nav > ul > li .sub > ul > li .sub-wrap > ul > li > ul > li:first-child > a {font-weight:600;letter-spacing:1px;padding-bottom:5px;border-bottom:1px solid rgba(255,255,255, 0.3);}

#header .wrap .gap .middle #nav > ul > li .sub1 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub1 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(12) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub1 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(13) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub1 > ul > li .sub-wrap > ul > li:nth-child(2) > ul > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub2 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub4 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(3) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub5 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub5 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(8) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub5 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(9) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub5 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(10) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .middle #nav > ul > li .sub5 > ul > li .sub-wrap > ul > li:nth-child(1) > ul > li:nth-child(11) a:after {content:"NEW";display:block;position:absolute;top:0;right:0;margin-right:-40px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}

#header .wrap .gap .middle #nav > ul > li .sub3 > ul > li .sub-wrap > ul > li > ul {padding-bottom:30px;}

#header .wrap .gap .middle #nav > ul > li .sub6 {left:920px;width:220px;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap {width:100%;padding:0;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li {position:relative;width:184px;padding:9px 18px;border-bottom:1px solid rgba(255,255,255, 0.06);}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li:first-child {margin-bottom:0;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li:first-child a {padding-bottom:0;border-bottom:0;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li > a {position:relative;width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li > a i {position:absolute;top:0;left:180px;color:#c8c8c8;transition:all .5s;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li > a:hover i {color:#fff;}

#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li .sub-sub {display:none;position:absolute;top:0;left:220px;width:240px;text-align:left;background:rgba(27,22,28, 0.95);}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li .sub-sub > ul {width:100%;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li .sub-sub > ul > li {padding:9.9px 13px;border-bottom:1px solid rgba(255,255,255, 0.06);}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li .sub-sub > ul > li > a {display:block;font-size:11px;letter-spacing:0.3px;color:#c8c8c8;transition:all .5s;}
#header .wrap .gap .middle #nav > ul > li .sub6 > ul > li .sub-wrap > ul > li > ul > li .sub-sub > ul > li > a:hover {color:#fff;}

#header .wrap .gap .middle #nav > ul > li .sub7 {left:951px;width:182px;padding:0 25px;}

#header .wrap .gap .right {float:right;width:103px;padding-left:10px;}
#header .wrap .gap .right #aside {display:block;width:100%;}
#header .wrap .gap .right #aside > div {padding:28px 0;transition:all .3s;}
#header.addMobile .wrap .gap .right #aside > div {padding:20.5px 0;}
#header .wrap .gap .right #aside > div > div {display:inline-block;color:#c8c8c8;font-size:11px;font-weight:600;letter-spacing:.5px;}
#header .wrap .gap .right #aside > div > div:nth-child(2) {margin:0 15px 0 4px;}
#header .wrap .gap .right #aside > div > div a {position:relative;display:inline-block;font-size:11px;font-weight:600;line-height:23px;letter-spacing:0.7px;color:#c8c8c8;transition:color .5s;}
#header .wrap .gap .right #aside > div > div a:hover {color:#fff;}
#header.addMobile .wrap .gap .right #aside > div > div a {color:#888;}
#header.addMobile .wrap .gap .right #aside > div > div a:hover {color:#000;}
#header .wrap .gap .right #aside > div > div a i {font-size:13px;font-weight:900;}
#header .wrap .gap .right #aside > div > div .list {display:none;position:absolute;top:80px;right:40px;width:215px;padding:25px;text-align:center;background:rgba(27,22,28, 0.95);}
#header.addMobile .wrap .gap .right #aside > div > div .list {top:65px;}
#header .wrap .gap .right #aside > div > div .list span {display:inline-block;}
#header .wrap .gap .right #aside > div > div .list span a {display:block;font-size:13px;line-height:175%;color:#c8c8c8;text-align:center;}


/* mobile */
#header .wrap .gap .right .mobile {display:none;width:100%;margin:30.5px 0;transition:all .3s;}
#header.addMobile .wrap .gap .right .mobile {margin:23px 0;}
#header .wrap .gap .right .mobile a {position:relative;display:block;width:22px;height:14px;}
#header .wrap .gap .right .mobile a .mline {transition:all .3s;position:absolute;left:0;display:block;width:100%;height:2px;background:#fff;}
#header.addMobile .wrap .gap .right .mobile a .mline {background:#000;}
#header .wrap .gap .right .mobile a .mline1 {top:0;}
#header .wrap .gap .right .mobile a.addClose .mline1 {top:50%;margin-top:-1px;transform:rotate(135deg);}
#header .wrap .gap .right .mobile a .mline2 {top:50%;margin-top:-1px;}
#header .wrap .gap .right .mobile a.addClose .mline2 {display:none;}
#header .wrap .gap .right .mobile a .mline3 {bottom:0;}
#header .wrap .gap .right .mobile a.addClose .mline3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}
#header .wrap .gap .right .mobile div {color:#fff;font-size:11px;font-weight:600;letter-spacing:.5px;}
#header .wrap .gap .right .mobile div a {display:inline-block;font-size:11px;font-weight:600;line-height:23px;letter-spacing:0.7px;color:#fff;}
#header.addMobile .wrap .gap .right .mobile div a {color:#000;}
#header .wrap .gap .right .mobile div a i {position:absolute;font-size:13px;font-weight:900;}
#header .wrap .gap .right .mobile .cart-wrap a i {top:-14px;left:35px;}
#header .wrap .gap .right .mobile .cart-wrap .list {display:none;position:absolute;top:80px;right:40px;width:215px;height:23px;padding:25px;text-align:center;background:rgba(27,22,28, 0.95);}
#header.addMobile .wrap .gap .right .mobile .cart-wrap .list {top:65px;}
#header .wrap .gap .right .mobile .cart-wrap .list span {display:inline-block;width:100%;height:100%;}
#header .wrap .gap .right .mobile .cart-wrap .list span a {display:block;width:100%;height:100%;font-size:13px;line-height:175%;color:#c8c8c8;text-align:center;}
#header .wrap .gap .right .mobile .search-wrap a i {top:-28px;left:70px;}
#header .wrap .gap .right .mobile div a .mobile-cart {display:block;position:absolute;top:-24px;right:-40px;width:16px;height:16px;padding:0;font-size:11px;line-height:16px;text-align:center;box-sizing:border-box;border-radius:100%;color:#000;background:#fdd947;}

/* mobile menu */
#header .wrap .gap .right .mobile-menu {display:none;position:absolute;top:75px;right:-100%;width:100%;height:300px;overflow-y:auto;overflow-x:hidden;transition:top .3s;}
#header.addMobile .wrap .gap .right .mobile-menu {top:60px;}
#header .wrap .gap .right .mobile-menu > ul {width:100%;}
#header .wrap .gap .right .mobile-menu > ul > li {position:relative;border-top:1px solid #111;}
#header .wrap .gap .right .mobile-menu > ul > li > a {z-index:1;position:relative;display:block;width:100%;padding:8px 15px;line-height:23px;text-indent:10px;background:#000;color:#fff;font-weight:700;font-size:11px;letter-spacing:2px;}
#header .wrap .gap .right .mobile-menu > ul > li > a i {position:absolute;top:40%;left:0;}
#header .wrap .gap .right .mobile-menu > ul > li > a i:before:hover {content:"\f106";display:block;position:absolute;top:40%;left:0;}


#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub {display:none;background:rgba(27,22,28, 0.95);}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul {padding:5px 0;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li {padding:8px 15px;border-bottom:1px solid rgba(255, 255, 255, 0.06);}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li > a {position:relative;display:block;font-size:11px;letter-spacing:0.3px;color:#c8c8c8;transition:all .5s;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li > a > i {font-size:11px;font-weight:900;color:#fff;margin-right:10px;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li > a > i {margin-left:5px;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li > a:hover {color:#fff;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li > a:focus {color:#fff;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li:first-child {font-size:11px;font-weight:600;letter-spacing:1px;color:#fff;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub > ul > li:last-child {border-bottom:0;}

#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub1 > ul:nth-child(1) > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:155px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub1 > ul:nth-child(1) > li:nth-child(12) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:195px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub1 > ul:nth-child(1) > li:nth-child(13) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:135px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub1 > ul:nth-child(2) > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:210px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub2 > ul:nth-child(1) > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:155px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub4 > ul:nth-child(1) > li:nth-child(3) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:130px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub5 > ul:nth-child(1) > li:nth-child(7) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:120px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub5 > ul:nth-child(1) > li:nth-child(8) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:180px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub5 > ul:nth-child(1) > li:nth-child(9) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:180px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub5 > ul:nth-child(1) > li:nth-child(10) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:65px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub5 > ul:nth-child(1) > li:nth-child(11) a:after {content:"NEW";display:block;position:absolute;top:0;left:0;margin-top:-3px;margin-left:85px;padding:0 5px 2px 5px;font-size:10px;line-height:16px;color:#fff;background:#c11f1f;}



#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub {display:none;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub > ul {padding:5px 0;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub > ul > li {padding:8px 15px;border-bottom:1px solid rgba(255,255,255, 0.06);}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub > ul > li:last-child {border-bottom:0;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub > ul > li > a {display:block;font-size:11px;letter-spacing:0.3px;color:#c8c8c8;transition:all .5s;}
#header .wrap .gap .right .mobile-menu > ul > li .mobile-sub6 > ul > li .mobile-sub-sub > ul > li > a:hover {color:#fff;}

/* 메인영역 섹션1 */
#main {z-index:2;position:relative;width:100%;height:auto;}
#main #section1 {z-index:1;position:relative;width:100%;height:210px;padding-top:240px;background:url(../img/portfolio/parallax-img20.jpg) no-repeat 50% 0;background-size:cover;}
#main #section1:after {z-index:2;content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.7;}
#main #section1 .wrap {z-index:3;position:relative;width:100%;max-width:1183px;margin:0 auto;}
#main #section1 .wrap .gap {padding:0 15px;}
#main #section1 .wrap .gap .container {width:100%;}
#main #section1 .wrap .gap .container div {text-align:center;}
#main #section1 .wrap .gap .container div h6 {margin-bottom:40px;}
#main #section1 .wrap .gap .container div h6 i {display:inline-block;width:30px;height:2px;background:#e6af2a;transition:all .5s ease-in-out;}
#main #section1:hover .wrap .gap .container div h6 i {width:80px;}
#main #section1 .wrap .gap .container div h2 {font-size:20px;font-weight:600;line-height:225%;letter-spacing:4px;color:#fff;margin-bottom:15px;}
#main #section1 .wrap .gap .container div p {font-size:14px;font-weight:400;line-height:164%;letter-spacing:1px;color:#fff;}


/* 섹션2 */
#main #section2 {width:100%;height:auto;padding:120px 0;overflow:hidden;}
#main #section2 .wrap {width:100%;}    
#main #section2 .wrap .gap {width:100%;}
#main #section2 .wrap .gap .container {width:100%;}
#main #section2 .wrap .gap .container .content {width:100%;}
#main #section2 .wrap .gap .container .content .gallery-nav {width:100%;margin-bottom:44px;}
#main #section2 .wrap .gap .container .content .gallery-nav ul {text-align:center;}
#main #section2 .wrap .gap .container .content .gallery-nav ul li {display:inline-block;margin:0 32px;}
#main #section2 .wrap .gap .container .content .gallery-nav ul li a {display:block;font-size:11px;font-weight:600;line-height:142%;letter-spacing:2px;color:#888;padding:5px 0;border-bottom:1px solid transparent;transition:all .5s;}
#main #section2 .wrap .gap .container .content .gallery-nav ul li a:hover {color:#000;border-bottom:1px solid #000;}
#main #section2 .wrap .gap .container .content .gallery-nav ul li a.addNav {cursor:default;color:#000;border-bottom:1px solid #000;}

#main #section2 .wrap .gap .container .content .gallery {position:relative;width:100%;height:calc(511.4583333px*3);}
#main #section2 .wrap .gap .container .content .gallery li {position:absolute;width:33.333%;height:511.4583333px;overflow:hidden;}

#main #section2 .wrap .gap .container .content .gallery li:nth-child(1) {top:calc(511.4583333px*0);left:calc(33.333%*0);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(2) {top:calc(511.4583333px*0);left:calc(33.333%*1);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(3) {top:calc(511.4583333px*0);left:calc(33.333%*2);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(4) {top:calc(511.4583333px*1);left:calc(33.333%*0);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(5) {top:calc(511.4583333px*1);left:calc(33.333%*1);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(6) {top:calc(511.4583333px*1);left:calc(33.333%*2);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(7) {top:calc(511.4583333px*2);left:calc(33.333%*0);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(8) {top:calc(511.4583333px*2);left:calc(33.333%*1);width:33.333%;height:511.4583333px;}
#main #section2 .wrap .gap .container .content .gallery li:nth-child(9) {top:calc(511.4583333px*2);left:calc(33.333%*2);width:33.333%;height:511.4583333px;}

#main #section2 .wrap .gap .container .content .gallery li div {width:100%;transition:all .5s;transform:scale(0);}
#main #section2 .wrap .gap .container .content .gallery.addZoom li div {transform:scale(1);}


#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-btn {cursor:url(../img/portfolio/icon-zoom-white.png),auto;}
#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-btn img {width:100%;transform:scale(.95);transition:all .5s;}
#main #section2 .wrap .gap .container .content .gallery li:hover div .gallery-img-btn img {filter:brightness(50%);}

#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-caption {display:block;cursor:none;width:100%;transition:all .5s;padding:40px 0 30px 0 ;text-align:center;background:#fff;}
#main #section2 .wrap .gap .container .content .gallery li div:hover .gallery-img-caption {transform:translateY(-50px);}
#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-caption strong {display:block;font-size:14px;font-weight:400;line-height:110%;letter-spacing:4px;margin-bottom:8px;color:#888;transition:all .5s;}
#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-caption strong:hover {color:#000;cursor:pointer;}
#main #section2 .wrap .gap .container .content .gallery li div .gallery-img-caption em {font-size:12px;line-height:190%;letter-spacing:3px;color:#888;}
 

/* 섹션3 */
#main #section3 {width:100%;height:auto;padding-bottom:120px;}
#main #section3 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section3 .wrap .gap {padding:0 15px;}
#main #section3 .wrap .gap .title-wrap {text-align:center;}
#main #section3 .wrap .gap .title-wrap h6 {margin-bottom:57px;}
#main #section3 .wrap .gap .title-wrap h6 i {display:inline-block;width:30px;height:2px;background:#e6af2a;}
#main #section3 .wrap .gap .title-wrap h5 {margin-bottom:46px;font-size:11px;font-weight:400;line-height:110%;letter-spacing:2px;color:#000;}
#main #section3 .wrap .gap .title-wrap div {width:100%;margin-top:300px;opacity:0.1;transition:all 1.5s;}
#main #section3.addScroll .wrap .gap .title-wrap div {margin-top:0;opacity:1;}
#main #section3 .wrap .gap .title-wrap div a {display:inline-block;padding:20px 30px;border:4px solid #000;font-size:22px;font-weight:700;line-height:105%;letter-spacing:2px;color:#000;transition:all .5s;}
#main #section3 .wrap .gap .title-wrap div a:hover {color:#fff;background:#000;}



/* 푸터영역 */
#footer {z-index:1;position:relative;width:100%;height:auto;}
#footer .top {width:100%;border-top:1px solid #e5e5e5;}
#footer .top .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .top .wrap .gap {padding:3.972950% 1.267962%;}  /* 47px 15px */
#footer .top .wrap .gap ul {width:100%;}
#footer .top .wrap .gap ul li {float:left;width:33.333%;}
#footer .top .wrap .gap ul li div {margin:0 15px;text-align:center;}
#footer .top .wrap .gap ul li div span {display:block;}
#footer .top .wrap .gap ul li div span i {font-size:25px;font-weight:400;line-height:110%;letter-spacing:0.5px;}
#footer .top .wrap .gap ul li div h6 {font-size:13px;font-weight:400;line-height:150%;letter-spacing:1px;margin-top:10px;}

#footer .middle {width:100%;background:#f4f4f4;}
#footer .middle .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .middle .wrap .gap {padding:6.762468% 0 3.803888% 0;}  /* 80px 45px */
#footer .middle .wrap .gap .title-top {width:100%;}
#footer .middle .wrap .gap .title-top .txt-left {float:left;width:100%;max-width:354px;padding:0 15px;}
#footer .middle .wrap .gap .title-top .txt-left div {width:100%;}
#footer .middle .wrap .gap .title-top > div > div h5 {font-size:11px;font-weight:600;line-height:110%;letter-spacing:2px;margin-bottom:20px;color:#000;}
#footer .middle .wrap .gap .title-top .txt-left div p {font-size:13px;line-height:175%;letter-spacing:0.5px;margin-bottom:22px;color:#626262;}

#footer .middle .wrap .gap .title-top .txt-right {float:right;width:100%;max-width:758px;padding:0 15px;}
#footer .middle .wrap .gap .title-top .txt-right div {float:left;width:25%;}
#footer .middle .wrap .gap .title-top .txt-right div ul {width:100%;}
#footer .middle .wrap .gap .title-top .txt-right div ul li {width:100%;padding:1px 0;}
#footer .middle .wrap .gap .title-top .txt-right div ul li a {font-size:11px;line-height:200%;letter-spacing:1px;color:#626262;transition:all .5s;}
#footer .middle .wrap .gap .title-top .txt-right div ul li:hover a {color:#000;font-weight:500;}

#footer .middle .wrap .gap .h-line {display:block;width:100%;margin-top:35px;}
#footer .middle .wrap .gap .h-line i {display:block;width:100%;height:1px;background:rgba(130,130,130, .3);}

#footer .middle .wrap .gap .title-bottom {width:100%;margin-top:46px;}
#footer .middle .wrap .gap .title-bottom .left {float:left;width:50%;}
#footer .middle .wrap .gap .title-bottom .left .txt-wrap {width:100%;}
#footer .middle .wrap .gap .title-bottom .left .txt-wrap li {display:inline-block;padding:0 18px 0 6px;}
#footer .middle .wrap .gap .title-bottom .left .txt-wrap li a {display:block;font-size:11px;font-weight:600;letter-spacing:1px;color:#000;transition:all .5s;}
#footer .middle .wrap .gap .title-bottom .left .txt-wrap li:hover a {color:#858585;}
#footer .middle .wrap .gap .title-bottom .left .txt-wrap li:last-child a {color:#858585;}

#footer .middle .wrap .gap .title-bottom .right {float:left;width:50%;}
#footer .middle .wrap .gap .title-bottom .right .icons {width:100%;text-align:center;}
#footer .middle .wrap .gap .title-bottom .right .icons li {display:inline-block;margin:0 25px;}
#footer .middle .wrap .gap .title-bottom .right .icons li a {display:block;font-size:22px;font-weight:400;letter-spacing:0.5px;color:#000;transition:all .5s;}
#footer .middle .wrap .gap .title-bottom .right .icons li:hover a {color:#858585;}
#footer .middle .wrap .gap .title-bottom .right .icons li a i {font-size:22px;}

#footer .bottom {width:100%;background:#252525;}
#footer .bottom .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .bottom .wrap .gap {padding:2.958579% 1.267962%;}  /* 35px 15px */
#footer .bottom .wrap .gap .logo-copyright {width:100%;}
#footer .bottom .wrap .gap .logo-copyright span {float:left;font-size:11px;line-height:200%;letter-spacing:1px;color:#828282;}
#footer .bottom .wrap .gap .logo-copyright span a {display:inline-block;font-size:11px;line-height:200%;letter-spacing:1px;color:#828282;vertical-align:top;transition:all .5s;}
#footer .bottom .wrap .gap .logo-copyright span a:hover {color:#575757;}
#footer .bottom .wrap .gap .logo-copyright h1 {float:right;}
#footer .bottom .wrap .gap .logo-copyright h1 a {display:block;width:100%;}
#footer .bottom .wrap .gap .logo-copyright h1 img {width:100px;}



/* goTop 버튼 */
.goTop {z-index:3;position:fixed;bottom:-100px;right:30px;width:30px;height:30px;transition:bottom 1s;}
.goTop.addGoTop {bottom:30px;}
.goTop a {display:block;width:100%;height:100%;text-align:center;color:#fff;background:#000;border-radius:50%;opacity:0.7;transition:opacity .6s;}
.goTop a:hover {opacity:1;color:#333;background:#fffa82;}
.goTop a i {display:block;width:100%;height:100%;font-size:30px;}



/* 퀵메뉴 */
.quick-buy {z-index:4;position:fixed;top:120px;right:-130px;width:175px;height:39px;transition:all .5s;}
.quick-buy:hover {right:0;}
.quick-buy a {display:block;font-size:11px;letter-spacing:1px;line-height:200%;color:#fff;padding:8px 15px;background:rgba(50,50,50, .8);border-radius:4px;}
.quick-buy a img {width:17px;padding-right:13px;}

.quick-question {z-index:4;position:fixed;top:170px;right:-130px;width:175px;height:39px;transition:all .5s;}
.quick-question:hover {right:0;}
.quick-question a {display:block;font-size:11px;letter-spacing:1px;line-height:200%;color:#fff;padding:8px 15px;background:rgba(50,50,50, .8);border-radius:4px;}
.quick-question a img {width:17px;padding-right:13px;}


/* 모달창 */
.modal {display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;}
.modal .img-wrap {line-height:969px;text-align:center;cursor:url(../img/out2.jpg),auto}
.modal .img-wrap a img {width:100%;max-width:800px;}

.modal .arrow-left {z-index:2;position:absolute;top:50%;left:30px;width:50px;height:50px;margin-top:-25px;}
.modal .arrow-left a {display:block;text-align:center;width:100%;height:100%;}
.modal .arrow-left a i {display:block;width:20px;height:20px;border-top:2px solid #7f7f7f;border-left:2px solid #7f7f7f;transform:rotate(-45deg);transition:all .5s;}
.modal .arrow-left a:hover i {border-color:#e6af2a;}

.modal .arrow-right {z-index:2;position:absolute;top:50%;right:0;width:50px;height:50px;margin-top:-25px;}
.modal .arrow-right a {display:block;text-align:center;width:100%;height:100%;}
.modal .arrow-right a i {display:block;width:20px;height:20px;border-top:2px solid #7f7f7f;border-right:2px solid #7f7f7f;transform:rotate(45deg);transition:all .5s;}
.modal .arrow-right a:hover i {border-color:#e6af2a;}

.modal .close {z-index:2;position:absolute;top:15px;right:10px;width:30px;height:30px;}
.modal .close a {position:relative;display:block;width:22px;height:14px;}
.modal .close a .closeLine {transition:all .3s;position:absolute;left:0;display:block;width:100%;height:2px;background:#7f7f7f;}
.modal .close a:hover .closeLine {background:#e6af2a;}
.modal .close a .closeLine1 {top:50%;margin-top:-1px;transform:rotate(135deg);}
.modal .close a .closeLine2 {display:none;}
.modal .close a .closeLine3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}

