@charset "UTF-8";

/* 헤더영역 */
#header {z-index:3;position:fixed;top:0;left:0;width:100%;height:79px;border-bottom:1px solid rgba(0,0,0, 0);background:transparent;transition:height .3s, background-color .6s;}
#header.addMousewheel {top:-100px;}
#header.addMobile {height:64px;background:#fff;border-bottom:1px solid #ddd;}
#header .wrap {width:100%;max-width:1183px;margin:0 auto;}
#header .wrap .gap {padding:0 1.267962%;}  /* 15px */
#header .wrap .gap .left {float:left;padding:22px 80px;}
#header.addMobile .wrap .gap .left {padding:14.5px 80px;}

#header .wrap .gap .left .nav {display:inline-block;}
#header .wrap .gap .left .nav ul {padding-top:0;}
#header .wrap .gap .left .nav ul li {display:inline-block;margin:0 20px;}
#header .wrap .gap .left .nav ul li a {display:inline-block;font-size:11px;font-weight:600;line-height:200%;letter-spacing:0.7px;color:#626262;transition:color .5s;}
#header .wrap .gap .left .nav ul li a:hover {color:#000;}
#header .wrap .gap .left .nav ul li a i {display:block;width:100%;height:2px;transform:scale(0,1);background:#fff;transition:all .5s ease-in-out;}
#header .wrap .gap .left .nav ul li a:hover i {transform:scale(1,1);background-color:#000;}

#header .wrap .gap .left .logo {display:inline-block;}
#header .wrap .gap .left .logo a {display:inline-block;}
#header .wrap .gap .left .logo a img {width:100%;max-width:109px;height:35px;}


#header .wrap .gap .right {float:right;width:103px;padding-left:10px;}
#header .wrap .gap .right #aside {display:block;width:100%;}
#header .wrap .gap .right #aside > div {padding:28px 0;transition:all .3s;}
#header.addMobile .wrap .gap .right #aside > div {padding:20.5px 0;}
#header .wrap .gap .right #aside > div > div {display:inline-block;color:#626262;font-size:11px;font-weight:600;letter-spacing:.5px;transition:color .5s;}
#header .wrap .gap .right #aside > div > div:hover {color:#000;}
#header .wrap .gap .right #aside > div > div:nth-child(2) {margin:0 15px 0 4px;}
#header .wrap .gap .right #aside > div > div a {position:relative;display:inline-block;font-size:11px;font-weight:600;line-height:23px;letter-spacing:0.7px;color:#626262;transition:color .5s;}
#header .wrap .gap .right #aside > div > div a:hover {color:#000;}
#header .wrap .gap .right #aside > div > div a i {font-size:13px;font-weight:900;}
#header .wrap .gap .right #aside > div > div .list1 {display:none;position:absolute;top:80px;right:400px;width:215px;padding:25px;text-align:center;background:rgba(27,22,28, 0.95);}
#header.addMobile .wrap .gap .right #aside > div > div .list1 {top:65px;}
#header .wrap .gap .right #aside > div > div .list1 span {display:inline-block;}
#header .wrap .gap .right #aside > div > div .list1 span a {display:block;font-size:13px;line-height:175%;color:#c8c8c8;text-align:center;}



/* mobile */
#header .wrap .gap .right .mobile {display:none;width:100%;margin:30.5px 0;transition:all .3s;}
#header.addMobile .wrap .gap .right .mobile {margin:23px 0;}
#header .wrap .gap .right .mobile a {position:relative;display:block;width:22px;height:14px;}
#header .wrap .gap .right .mobile a .mline {transition:all .3s;position:absolute;left:0;display:block;width:100%;height:2px;background:#000;}
#header .wrap .gap .right .mobile a .mline1 {top:0;}
#header .wrap .gap .right .mobile a.addClose .mline1 {top:50%;margin-top:-1px;transform:rotate(135deg);}
#header .wrap .gap .right .mobile a .mline2 {top:50%;margin-top:-1px;}
#header .wrap .gap .right .mobile a.addClose .mline2 {display:none;}
#header .wrap .gap .right .mobile a .mline3 {bottom:0;}
#header .wrap .gap .right .mobile a.addClose .mline3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}
#header .wrap .gap .right .mobile div {color:#000;font-size:11px;font-weight:600;letter-spacing:.5px;}
#header .wrap .gap .right .mobile div a {display:inline-block;font-size:11px;font-weight:600;line-height:23px;letter-spacing:0.7px;color:#000;}
#header .wrap .gap .right .mobile div a i {position:absolute;font-size:13px;font-weight:900;}
#header .wrap .gap .right .mobile .cart-wrap a i {top:-14px;left:35px;}
#header .wrap .gap .right .mobile .search-wrap a i {top:-28px;left:70px;}
#header .wrap .gap .right .mobile div a .mobile-cart {display:block;position:absolute;top:-24px;right:-40px;width:16px;height:16px;padding:0;font-size:11px;line-height:16px;text-align:center;box-sizing:border-box;border-radius:100%;color:#000;background:#fdd947;}


/* mobile menu */
#header .wrap .gap .right .mobile-menu {/* display:none; */position:absolute;top:75px;right:-100%;width:100%;transition:top .3s;}
#header.addMobile .wrap .gap .right .mobile-menu {top:60px;}
#header .wrap .gap .right .mobile-menu ul {width:100%;}
#header .wrap .gap .right .mobile-menu ul li {border-top:1px solid #111;}
#header .wrap .gap .right .mobile-menu ul li a {display:block;width:100%;padding:8px 15px;line-height:23px;background:#000;color:#c8c8c8;font-weight:700;font-size:11px;letter-spacing:2px;}
#header .wrap .gap .right .mobile-menu ul li a:hover {color:#fff;}


/* 메인영역 섹션1 */
#main {z-index:2;position:relative;width:100%;}
#main #section01 {width:100%;height:969px;background:#dcdcdc;overflow:hidden;}
#main #section01 .wrap {width:100%;height:100%;margin:0 auto;}
#main #section01 .wrap .gap {width:100%;height:100%;}
#main #section01 .wrap .gap .container {width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view {position:relative;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {z-index:2;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {z-index:1;display:none;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2.addSlide {display:block;}


#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div {width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul {position:relative;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li {position:absolute;width:100%;text-align:center;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li div {width:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li div img {width:100%;}


#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 div ul li:nth-child(1) {z-index:2;top:181.5px;left:34.235417%;width:31.529164%;min-width:300px;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 div ul li:nth-child(4) {animation:s1Ani4 4s infinite ease-in-out;z-index:4;top:71.5px;left:44.534944%;width:21.019442%;}  
@keyframes s1Ani4{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-10px;margin-left:0;}
 50% {margin-top:-10px;margin-left:10px;}
 75% {margin-top:0;margin-left:10px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 div ul li:nth-child(1) {z-index:2;top:134.5px;left:23.725696%;width:52.548607%;min-width:500px;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 div ul li:nth-child(4) {animation:s1Ani4_1 4s infinite ease-in-out;z-index:4;top:65.5px;left:45.953757%;width:21.019442%;}
@keyframes s1Ani4_1{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-10px;margin-left:0;}
 50% {margin-top:-10px;margin-left:10px;}
 75% {margin-top:0;margin-left:10px;}
100% {margin-top:0;margin-left:0;}
}

#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(2) {z-index:3;top:104.5px;left:29.506043%;width:37.834997%;height:740px;border:30px solid rgba(255,255,255, 0.35);} /* top13.397435%  / 46.770833%*/


#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(3) {z-index:1;top:224.5px;left:37.388334%;width:22.070415%;height:500px;border:30px solid rgba(255,255,255, 0.35);}


#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(5) {animation:s1Ani5 3s infinite ease-in-out;z-index:4;top:12.5px;left:61.140304%;width:35.943247%;}
@keyframes s1Ani5{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:10px;margin-left:0;}
 50% {margin-top:10px;margin-left:-10px;}
 75% {margin-top:0;margin-left:-10px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(6) {animation:s1Ani6 4s infinite ease-in-out;top:391.5px;left:70.021019%;width:13.137151%;}
@keyframes s1Ani6{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-5px;margin-left:0;}
 50% {margin-top:-5px;margin-left:5px;}
 75% {margin-top:0;margin-left:5px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(7) {animation:s1Ani7 3s infinite ease-in-out;top:668.5px;left:57.514450%;width:31.529164%;}
@keyframes s1Ani7{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-10px;margin-left:0;}
 50% {margin-top:-10px;margin-left:10px;}
 75% {margin-top:0;margin-left:10px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(8) {animation:s1Ani8 3s infinite ease-in-out;top:345.5px;left:17.472411%;width:7.882291%;}
@keyframes s1Ani8{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:10px;margin-left:0;}
 50% {margin-top:10px;margin-left:10px;}
 75% {margin-top:0;margin-left:10px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(9) {animation:s1Ani9 4s infinite ease-in-out;top:423.5px;left:17.104571%;width:21.019442%;}
@keyframes s1Ani9{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-10px;margin-left:0;}
 50% {margin-top:-10px;margin-left:-10px;}
 75% {margin-top:0;margin-left:-10px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(10) {animation:s1Ani10 4s infinite ease-in-out;z-index:4;top:140.5px;left:18.102995%;width:17.866526%;}
@keyframes s1Ani10{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:5px;margin-left:0;}
 50% {margin-top:5px;margin-left:-5px;}
 75% {margin-top:0;margin-left:-5px;}
100% {margin-top:0;margin-left:0;}
}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(11) {animation:s1Ani11 3s infinite ease-in-out;z-index:1;top:528.5px;left:5.911718%;width:21.019442%;}
@keyframes s1Ani11{
  0% {margin-top:0;margin-left:0;}
 25% {margin-top:-10px;margin-left:0;}
 50% {margin-top:-10px;margin-left:10px;}
 75% {margin-top:0;margin-left:10px;}
100% {margin-top:0;margin-left:0;}
}

#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(12) {z-index:3;top:404.5px;left:0;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(12) div h2 {font-size:130px;font-family:'Oswald';font-weight:700;letter-spacing:-3px;color:#020202;}

#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(13) {z-index:3;top:704.5px;left:0;width:100%;height:100%;}
#main #section01 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide div ul li:nth-child(13) div h3 {font-size:25px;font-weight:300;letter-spacing:2px;color:#2b2b2b;}




/* 섹션2 */
#main #section02 {width:100%;height:auto;padding:120px 0;background:#fff;}
#main #section02 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section02 .wrap .gap {margin:0 15px;}
#main #section02 .wrap .gap .container {width:100%;}
#main #section02 .wrap .gap .container > ul {width:100%;}
#main #section02 .wrap .gap .container > ul > li {float:left;width:33.333%;}
#main #section02 .wrap .gap .container > ul > li > div {padding:0 15px;}
#main #section02 .wrap .gap .container > ul > li > div ul {width:100%;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap {float:left;padding:0 15px;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap .num-color {position:relative;width:42.328px;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap .num-color div {position:relative;width:100%;padding-right:30px;border-right:1px solid #e5e5e5;overflow:hidden;transition:all .1s;}
#main #section02 .wrap .gap .container > ul > li > div ul:hover .num-wrap .num-color div {border-right:2px solid #f7d23d;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap .num-color div span {display:block;width:100%;height:100%;font-size:45px;font-weight:100;line-height:120%;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap .num-color div span.top {position:relative;bottom:0;left:0;color:#f7d23d;transition:all .3s;}
#main #section02 .wrap .gap .container > ul > li > div ul:hover .num-wrap .num-color div span.top {bottom:55px;}
#main #section02 .wrap .gap .container > ul > li > div ul .num-wrap .num-color div span.bottom {position:absolute;bottom:-55px;left:0;color:#7f7f7f;transition:all .3s;}
#main #section02 .wrap .gap .container > ul > li > div ul:hover .num-wrap .num-color div span.bottom {bottom:0;}

#main #section02 .wrap .gap .container > ul > li > div ul .text-wrap {float:left;padding-left:50px;}
#main #section02 .wrap .gap .container > ul > li > div ul .text-wrap > div {width:213px;}
#main #section02 .wrap .gap .container > ul > li > div ul .text-wrap > div h2 {font-size:23px;line-height:120%;color:#000;padding-bottom:20px;transition:all .3s;}
#main #section02 .wrap .gap .container > ul > li > div ul:hover .text-wrap > div h2 {text-decoration:line-through;}
#main #section02 .wrap .gap .container > ul > li > div ul .text-wrap > div p {width:80%;font-size:14px;line-height:22px;color:#626262;}


/* 섹션3 */
#main #section03 {width:100%;height:auto;}
#main #section03 .wrap {width:100%;margin:0 auto;}
#main #section03 .wrap .left-wrap {float:left;width:23.699421%;padding:6.857593% 8.985811%;background:#f6f6f6;}  /* padding:130.5px 171px */
#main #section03 .wrap .left-wrap .content {text-align:center;margin-top:26.274303%;opacity:0.1;transition:all 1s;}
#main #section03.addScroll .wrap .left-wrap .content {margin-top:0;opacity:1;}
#main #section03 .wrap .left-wrap .content h3 {width:100%;}
#main #section03 .wrap .left-wrap .content h3 img {width:auto;}
#main #section03 .wrap .left-wrap .content h2 {font-size:36px;font-weight:700;line-height:125%;color:#000;margin:45px 0;}
#main #section03 .wrap .left-wrap .content p {font-size:14px;line-height:185%;color:#626262;}
#main #section03 .wrap .left-wrap .content span {display:block;margin-top:45px;}
#main #section03 .wrap .left-wrap .content span a {display:inline-block;padding:2px 14px;letter-spacing:1px;text-transform:uppercase;font-size:11px;font-weight:700;line-height:200%;border:4px solid #000;color:#000;transition:all .5s;}
#main #section03 .wrap .left-wrap .content span a:hover {color:#fff;background:#000;}

#main #section03 .wrap .right-wrap {float:left;width:58.328954%;height:753px;background:url(../img/center-image.jpg) no-repeat 50% 50%;background-size:cover;box-sizing:border-box;}
#main #section03 .wrap .right-wrap div {position:relative;height:100%;}
#main #section03 .wrap .right-wrap div .img-border {position:absolute;top:50px;left:4.954954%;width:90.090090%;height:653px;outline:10px solid rgba(255,255,255, .5);}


/* 섹션4 갤러리 */
#main #section04 {width:100%;height:auto;padding-top:76px;overflow:hidden;}
#main #section04 .wrap {width:100%;}
#main #section04 .wrap .gap {width:100%;}
#main #section04 .wrap .gap .container {width:100%;}
#main #section04 .wrap .gap .container .content {width:100%;}
#main #section04 .wrap .gap .container .content .gallery-nav {width:100%;padding-bottom:44px;}
#main #section04 .wrap .gap .container .content .gallery-nav ul {text-align:center;}
#main #section04 .wrap .gap .container .content .gallery-nav ul li {display:inline-block;margin:0 32px;}
#main #section04 .wrap .gap .container .content .gallery-nav ul li a {display:block;transition:all .5s;font-size:11px;font-weight:600;letter-spacing:2px;line-height:140%;color:#000;padding-bottom:5px;border-bottom:1px solid transparent;}
#main #section04 .wrap .gap .container .content .gallery-nav ul li a:hover {border-bottom:1px solid #000;}
#main #section04 .wrap .gap .container .content .gallery-nav ul li a.addNav {cursor:default;border-bottom:1px solid #000;}

#main #section04 .wrap .gap .container .content .gallery {position:relative;width:100%;height:calc(354.8302083px*2);}
#main #section04 .wrap .gap .container .content .gallery li {position:absolute;width:25%;height:354.8302083px;overflow:hidden;}


/* 갤러리 가로 4개 이미지 */
#main #section04 .wrap .gap .container .content .gallery li:nth-child(1) {top:calc(354.8302083px*0);left:calc(25%*0);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(2) {top:calc(354.8302083px*0);left:calc(25%*1);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(3) {top:calc(354.8302083px*0);left:calc(25%*2);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(4) {top:calc(354.8302083px*0);left:calc(25%*3);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(5) {top:calc(354.8302083px*1);left:calc(25%*0);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(6) {top:calc(354.8302083px*1);left:calc(25%*1);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(7) {top:calc(354.8302083px*1);left:calc(25%*2);width:25%;height:354.8302083px;}
#main #section04 .wrap .gap .container .content .gallery li:nth-child(8) {top:calc(354.8302083px*1);left:calc(25%*3);width:25%;height:354.8302083px;}

#main #section04 .wrap .gap .container .content .gallery li div {position:relative;width:100%;}
#main #section04 .wrap .gap .container .content .gallery li div .gallery-img-btn {cursor:url(../img/icon-zoom-white.png),auto;}
#main #section04 .wrap .gap .container .content .gallery li div .gallery-img-btn img {width:100%;height:auto;background:#000;transform:scale(1);transition:all .5s ease-in;}
#main #section04 .wrap .gap .container .content .gallery li:hover div .gallery-img-btn img {transform:scale(1.15);filter: brightness(15%);}



#main #section04 .wrap .gap .container .content .gallery li div .gallery-img-caption {position:absolute;bottom:40px;left:0;display:none;width:100%;text-align:center;text-transform:uppercase;transition:all .5s;}
#main #section04 .wrap .gap .container .content .gallery li:hover div .gallery-img-caption {display:block;}
#main #section04 .wrap .gap .container .content .gallery li div .gallery-img-caption strong {display:block;font-size:13px;font-weight:400;line-height:110%;letter-spacing:4px;color:#e3e3e3;}
#main #section04 .wrap .gap .container .content .gallery li div .gallery-img-caption em {font-size:11px;line-height:200%;letter-spacing:3px;color:#aeaeae;}


/* 섹션5 */
#main #section05 {width:100%;height:auto;padding:120px 0;}
#main #section05 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section05 .wrap .gap {padding:0 15px;}
#main #section05 .wrap .gap .container {width:100%;}
#main #section05 .wrap .gap .container ul {width:100%;}
#main #section05 .wrap .gap .container ul li {float:left;width:33.333%;margin-top:500px;opacity:0.1;}
#main #section05.addScroll .wrap .gap .container ul li:nth-child(1) {margin-top:0;opacity:1;transition:all .5s;}
#main #section05.addScroll .wrap .gap .container ul li:nth-child(2) {margin-top:0;opacity:1;transition:all .8s;}
#main #section05.addScroll .wrap .gap .container ul li:nth-child(3) {margin-top:0;opacity:1;transition:all 1.2s;}
#main #section05 .wrap .gap .container ul li > div {width:100%;}
#main #section05 .wrap .gap .container ul li > div div {padding:0 15px;}
#main #section05 .wrap .gap .container ul li > div div h3 {font-size:15px;line-height:160%;letter-spacing:2px;color:#626262;}
#main #section05 .wrap .gap .container ul li > div div h2 {font-size:36px;font-weight:700;line-height:125%;color:#000;padding-bottom:20px;}
#main #section05 .wrap .gap .container ul li > div div .sec05-txt {font-size:14px;line-height:185%;color:#626262;width:80%;letter-spacing:0.5px;margin-bottom:20px;}
#main #section05 .wrap .gap .container ul li > div div span {display:block;}
#main #section05 .wrap .gap .container ul li > div div span a {display:inline-block;padding:2px 14px;margin-top:10px;letter-spacing:1px;text-transform:uppercase;font-size:11px;font-weight:700;line-height:200%;border:4px solid #000;color:#000;transition:all .5s;}
#main #section05 .wrap .gap .container ul li > div div span a:hover {color:#fff;background:#000;}
#main #section05 .wrap .gap .container ul li > div div h4 {width:100%;overflow:hidden;}
#main #section05 .wrap .gap .container ul li > div div h4 img {width:100%;max-width:364px;transform:scale(1);opacity:1;transition:all .5s;}
#main #section05 .wrap .gap .container ul li > div div:hover h4 img {transform:scale(1.2);opacity:.5;}
#main #section05 .wrap .gap .container ul li > div div h5 {font-size:14px;font-weight:600;line-height:185%;color:#000;letter-spacing:1px;margin-top:36px;}
#main #section05 .wrap .gap .container ul li > div div p {font-size:14px;line-height:185%;color:#626262;width:80%;letter-spacing:0.5px;margin:7px 0;}
#main #section05 .wrap .gap .container ul li > div div h6 {margin:25px 0;}
#main #section05 .wrap .gap .container ul li > div div h6 i {display:inline-block;width:30px;height:1px;background:#252525;}


/* 섹션6 슬라이드 */
#main #section06 {width:100%;height:auto;background:#f6f6f6;}
#main #section06 .wrap {width:100%;max-width:1903px;margin:0 auto;}
#main #section06 .wrap .gap {width:100%;}
#main #section06 .wrap .gap .container {width:100%;}
#main #section06 .wrap .gap .container .slide-container {position:relative;width:100%;margin:0 auto;}
#main #section06 .wrap .gap .container .slide-container .slide-view {position:relative;width:100%;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:calc(-1903px*0);width:calc(1903px*3);cursor:url(../img/icon-move.png),auto;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float:left;width:1903px;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div {width:100%;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box {width:100%;margin:0 auto;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .left {float:left;width:50%;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .left div {width:100%;height:500px;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .left div img {width:100%;height:100%;}

#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right {float:left;width:50%;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div {height:237px;padding:131.5px 0;}  /* 13.820283% */
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .num-wrap {float:left;padding:0 15px;}  /* 1.576458% */
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .num-wrap span {padding:0 60px;font-size:80px;font-weight:400;line-height:140%;font-family:'Oswald';color:#000;border-right:1px solid rgba(0,0,0, .2);}  /* 60px 25.316455% */
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap {float:left;width:50%;max-width:674.5px;padding-left:2.1019%;}  /* 4.203888% */
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap h2 {font-size:20px;font-weight:600;line-height:150%;text-transform:uppercase;color:#000;letter-spacing:3px;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap h3 {font-size:11px;font-weight:600;line-height:200%;text-transform:uppercase;color:#626262;letter-spacing:3px;padding:5px 0 25px 0;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap p {font-size:13px;line-height:180%;color:#626262;width:80%;letter-spacing:0.5px;padding-bottom:22px;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap span {display:block;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap span a {display:inline-block;padding:2px 14px;margin-top:30px;letter-spacing:1px;text-transform:uppercase;font-size:11px;font-weight:700;line-height:200%;border:4px solid #000;color:#000;transition:all .5s;}
#main #section06 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide > div .box .right > div .txt-wrap span a:hover {color:#fff;background:#000;}

#main #section06 .wrap .gap .container .slide-container .arrow-next {z-index:2;position:absolute;right:0;top:50%;margin-top:-50px;width:50px;height:50px;}
#main #section06 .wrap .gap .container .slide-container .arrow-next a {display:block;text-align:center;width:100%;height:100%;line-height:50px;color:#333;background:rgba(0,0,0, 0);transition:all .3s;}
#main #section06 .wrap .gap .container .slide-container .arrow-next a:hover {background-color:rgba(0,0,0, .1);color:#000;}
#main #section06 .wrap .gap .container .slide-container .arrow-next a i {font-size:30px;}
#main #section06 .wrap .gap .container .slide-container .arrow-prev {z-index:2;position:absolute;left:0;top:50%;margin-top:-50px;width:50px;height:50px;}
#main #section06 .wrap .gap .container .slide-container .arrow-prev a {display:block;text-align:center;width:100%;height:100%;line-height:50px;color:#333;background:rgba(0,0,0, 0);transition:all .3s;}
#main #section06 .wrap .gap .container .slide-container .arrow-prev a:hover {background-color:rgba(0,0,0, .1);color:#000;}
#main #section06 .wrap .gap .container .slide-container .arrow-prev a i {font-size:30px;}

#main #section06 .wrap .gap .container .slide-container .page-wrap {z-index:2;position:absolute;left:0;bottom:30px;width:100%;max-width:1903px;line-height:23px;text-align:center;}
#main #section06 .wrap .gap .container .slide-container .page-wrap li {display:inline-block;width:7px;height:7px;padding:6px 5px;}
#main #section06 .wrap .gap .container .slide-container .page-wrap li a {display:block;width:100%;height:100%;background:#000;border:1px solid #000;box-sizing:border-box;border-radius:50%;overflow:hidden;transition:all .5s;}
#main #section06 .wrap .gap .container .slide-container .page-wrap li.addPage a {background:transparent;transform:scale(1.5);}


/* 섹션7 */
#main #section07 {width:100%;height:auto;padding:120px 0;}
#main #section07 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section07 .wrap .gap {padding:0 15px;}
#main #section07 .wrap .gap .container {width:100%;}
#main #section07 .wrap .gap .container ul {width:100%;}
#main #section07 .wrap .gap .container ul li {float:left;width:25%;margin-top:300px;opacity:0.1;}
#main #section07.addScroll .wrap .gap .container ul li:nth-child(1) {margin-top:0;opacity:1;transition:all .3s;}
#main #section07.addScroll .wrap .gap .container ul li:nth-child(2) {margin-top:0;opacity:1;transition:all .5s;}
#main #section07.addScroll .wrap .gap .container ul li:nth-child(3) {margin-top:0;opacity:1;transition:all 1s;}
#main #section07.addScroll .wrap .gap .container ul li:nth-child(4) {margin-top:0;opacity:1;transition:all 1.5s;}
#main #section07 .wrap .gap .container ul li div {position:relative;text-align:center;overflow:hidden;}
#main #section07 .wrap .gap .container ul li div .up {position:relative;bottom:0;width:100%;transition:all .3s;}
#main #section07 .wrap .gap .container ul li:hover div .up {bottom:100px;}
#main #section07 .wrap .gap .container ul li div .up span {font-size:50px;font-weight:100;line-height:80%;color:#fdd947;}
#main #section07 .wrap .gap .container ul li div .up h3 {font-size:13px;font-weight:600;line-height:40px;letter-spacing:2px;color:#000;text-transform:uppercase;}
#main #section07 .wrap .gap .container ul li div .up h6 {width:100%;}
#main #section07 .wrap .gap .container ul li div .up h6 i {display:inline-block;width:30px;height:4px;background:#d4d4d4;margin:8px 118px;}

#main #section07 .wrap .gap .container ul li div .down {position:absolute;bottom:-67px;left:0;opacity:0;width:100%;transition:all .3s;}
#main #section07 .wrap .gap .container ul li:hover div .down {bottom:0;opacity:1;}
#main #section07 .wrap .gap .container ul li div .down span {width:100%;}
#main #section07 .wrap .gap .container ul li div .down span i {font-size:40px;font-weight:400;line-height:110%;font-family:'et-line';color:#f7d23d;margin:0 3px 10px 3px;}
#main #section07 .wrap .gap .container ul li div .down p {font-size:11px;line-height:200%;color:#626262;letter-spacing:0.5px;text-transform:uppercase;}


/* 섹션8 */
#main #section08 {width:100%;height:auto;padding:120px 0;background:url(../img/parallax-img38.jpg) no-repeat 50% 0 fixed;background-size:cover;}
#main #section08 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section08 .wrap .gap {width:100%;}
#main #section08 .wrap .gap .title-wrap {width:100%;padding-bottom:100px;text-align:center;}
#main #section08 .wrap .gap .title-wrap h3 {font-size:20px;font-weight:700;line-height:110%;letter-spacing:2px;color:#464646;}

#main #section08 .wrap .gap .container {width:100%;margin:0 auto;}
#main #section08 .wrap .gap .container > ul {width:100%;}
#main #section08 .wrap .gap .container > ul > li {float:left;width:33.333%;margin-bottom:80px;margin-top:500px;opacity:0.1;}
#main #section08 .wrap .gap .container > ul > li:nth-child(4) {margin-bottom:0;}
#main #section08 .wrap .gap .container > ul > li:nth-child(5) {margin-bottom:0;}
#main #section08 .wrap .gap .container > ul > li:nth-child(6) {margin-bottom:0;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(1) {margin-top:0;opacity:1;transition:all .3s;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(2) {margin-top:0;opacity:1;transition:all .6s;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(3) {margin-top:0;opacity:1;transition:all .9s;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(4) {margin-top:0;opacity:1;transition:all 1.2s;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(5) {margin-top:0;opacity:1;transition:all 1.5s;}
#main #section08.addScroll .wrap .gap .container > ul > li:nth-child(6) {margin-top:0;opacity:1;transition:all 1.8s;}
#main #section08 .wrap .gap .container > ul > li div {padding:0 15px;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap {width:100%;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .left {float:left;width:91px;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .left .icon-wrap {width:100%;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .left .icon-wrap i {font-size:40px;font-weight:400;transition:all .5s;line-height:110%;font-family:'et-line';color:#9a9a9a;margin:0 3px 15px 3px;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .left .icon-wrap i:hover {transform:rotate(360deg);color:#000;}

#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right {float:left;width:263px;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right .txt-wrap {width:100%;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right .txt-wrap h5 {font-size:11px;font-weight:600;line-height:110%;letter-spacing:2px;color:#464646;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right .txt-wrap h6 {margin:15px 0;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right .txt-wrap h6 i {display:inline-block;width:30px;height:2px;background:#e6af2a;}
#main #section08 .wrap .gap .container > ul > li div .svc-wrap .right .txt-wrap p {font-size:13px;line-height:175%;color:#626262;letter-spacing:0.5px;margin-bottom:22px;}


/* 섹션9 */
#main #section09 {width:100%;height:auto;padding:120px 0;border-bottom:1px solid #e5e5e5;}
#main #section09 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section09 .wrap .gap {margin:0 15px;}
#main #section09 .wrap .gap .container {width:100%;}
#main #section09 .wrap .gap .container ul {width:100%;}
#main #section09 .wrap .gap .container ul li {float:left;width:33.333%;margin-top:500px;transform:scale(0);}
#main #section09.addScroll .wrap .gap .container ul li:nth-child(1) {margin-top:0;transform:scale(1);transition:all 1.5s;}
#main #section09.addScroll .wrap .gap .container ul li:nth-child(2) {margin-top:0;transform:scale(1);transition:all 1s;}
#main #section09.addScroll .wrap .gap .container ul li:nth-child(3) {margin-top:0;transform:scale(1);transition:all .5s;}
#main #section09 .wrap .gap .container ul li div {text-align:center;}
#main #section09 .wrap .gap .container ul li div img {width:120px;border-radius:50%;transform:scale(1);transition:all .5s;}
#main #section09 .wrap .gap .container ul li:hover div img {transform:scale(1.1);filter:grayscale(90%);}
#main #section09 .wrap .gap .container ul li div p {font-size:13px;line-height:170%;letter-spacing:0.5px;width:90%;color:#626262;margin:30px 20px 20px;}
#main #section09 .wrap .gap .container ul li div h5 {font-size:11px;font-weight:600;line-height:200%;letter-spacing:2px;color:#000;}
#main #section09 .wrap .gap .container ul li div span {display:block;margin:18px 0;}
#main #section09 .wrap .gap .container ul li div span i {font-size:25px;font-weight:900;color:#e6af2a;}


/* 섹션10 */
#main #section10 {width:100%;height:auto;padding:120px 0;}
#main #section10 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section10 .wrap .gap {width:100%;}
#main #section10 .wrap .gap .title-wrap {width:100%;padding-bottom:100px;text-align:center;}
#main #section10 .wrap .gap .title-wrap h2 {font-size:20px;font-weight:700;line-height:110%;color:#000;letter-spacing:2px;}

#main #section10 .wrap .gap .container {width:100%;}
#main #section10 .wrap .gap .container > ul {width:100%;}
#main #section10 .wrap .gap .container > ul > li {float:left;width:33.333%;margin-top:500px;opacity:0.1;}
#main #section10.addScroll .wrap .gap .container > ul > li:nth-child(1) {margin-top:0;opacity:1;transition:all .5s;}
#main #section10.addScroll .wrap .gap .container > ul > li:nth-child(2) {margin-top:0;opacity:1;transition:all 1s;}
#main #section10.addScroll .wrap .gap .container > ul > li:nth-child(3) {margin-top:0;opacity:1;transition:all 1.5s;}
#main #section10 .wrap .gap .container > ul > li > div {padding:15px;}
#main #section10 .wrap .gap .container > ul > li > div ul {width:100%;}
#main #section10 .wrap .gap .container > ul > li > div ul li {width:100%;}
#main #section10 .wrap .gap .container > ul > li > div ul li > div {width:100%;overflow:hidden;}
#main #section10 .wrap .gap .container > ul > li > div ul li > div a {display:block;width:100%;}
#main #section10 .wrap .gap .container > ul > li > div ul li > div a img {width:100%;transition:all .4s ease-in-out;opacity:1;background:#dcdcdc;}
#main #section10 .wrap .gap .container > ul > li:hover > div ul li > div a img {transform:scale(1.2);opacity:.5;}
#main #section10 .wrap .gap .container > ul > li:focus > div ul li > div a img {transform:scale(1.2);opacity:.5;}
#main #section10 .wrap .gap .container > ul > li > div div {margin-top:20px;}
#main #section10 .wrap .gap .container > ul > li > div div .blog-txt1 {font-size:12px;font-weight:600;line-height:190%;letter-spacing:2px;color:#000;text-transform:uppercase;}
#main #section10 .wrap .gap .container > ul > li > div div .blog-txt2 {font-size:10px;line-height:230%;letter-spacing:1px;color:#828282;}
#main #section10 .wrap .gap .container > ul > li > div div .blog-txt2 a {display:inline-block;width:auto;font-size:10px;line-height:230%;letter-spacing:1px;color:#828282;vertical-align:top;}
#main #section10 .wrap .gap .container > ul > li > div div .blog-txt2 span {display:inline-block;vertical-align:top;}
#main #section10 .wrap .gap .container > ul > li > div div p {font-size:13px;line-height:175%;letter-spacing:0.5px;color:#626262;padding-top:22px;}

#main #section10 .wrap .gap .btn-wrap {margin-top:50px;text-align:center;}
#main #section10 .wrap .gap .btn-wrap a {display:inline-block;padding:2px 14px;letter-spacing:1px;text-transform:uppercase;font-size:11px;font-weight:600;line-height:200%;border:2px solid #000;color:#fff;background:#000;transition:all .5s;}
#main #section10 .wrap .gap .btn-wrap a:hover {color:#000;background:#fff;}


/* 섹션11 */
#main #section11 {width:100%;height:auto;padding:120px 0;border-top:1px solid #e5e5e5;}
#main #section11 .wrap {width:100%;max-width:1183px;margin:0 auto;}
#main #section11 .wrap .gap {padding:0 15px;}
#main #section11 .wrap .gap .title-wrap {text-align:center;}
#main #section11 .wrap .gap .title-wrap h5 {margin-bottom:50px;font-size:14px;font-weight:400;line-height:110%;letter-spacing:2px;color:#000;}
#main #section11 .wrap .gap .title-wrap div {width:100%;margin-top:500px;opacity:0.1;transition:all 1s;}
#main #section11.addScroll .wrap .gap .title-wrap div {margin-top:0;opacity:1;}
#main #section11 .wrap .gap .title-wrap div a {display:inline-block;padding:20px 30px;border:4px solid #000;font-size:22px;font-weight:700;line-height:105%;letter-spacing:2px;color:#000;transition:all .5s;}
#main #section11 .wrap .gap .title-wrap div a:hover {background:#000;color:#fff;}


/* 푸터영역 */
#footer {z-index:1;position:relative;width:100%;height:auto;}
#footer .top {width:100%;border-top:1px solid #e5e5e5;}
#footer .top .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .top .wrap .gap {padding:3.972950% 1.267962%;}  /* 47px 15px */
#footer .top .wrap .gap ul {width:100%;}
#footer .top .wrap .gap ul li {float:left;width:33.333%;}
#footer .top .wrap .gap ul li div {margin:0 15px;text-align:center;}
#footer .top .wrap .gap ul li div span {display:block;}
#footer .top .wrap .gap ul li div span i {font-size:25px;font-weight:400;line-height:110%;letter-spacing:0.5px;}
#footer .top .wrap .gap ul li div h6 {font-size:13px;font-weight:400;line-height:150%;letter-spacing:1px;margin-top:10px;}

#footer .middle {width:100%;background:#f4f4f4;}
#footer .middle .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .middle .wrap .gap {padding:3.972950% 1.267962%;}  /* 47px 15px */
#footer .middle .wrap .gap .icons {width:100%;text-align:center;}
#footer .middle .wrap .gap .icons li {display:inline-block;margin:0 2.168256%;}  /* 25px */
#footer .middle .wrap .gap .icons li a {display:block;font-size:22px;font-weight:400;letter-spacing:0.5px;color:#000;}
#footer .middle .wrap .gap .icons li a i {font-size:22px;}

#footer .bottom {width:100%;background:#252525;}
#footer .bottom .wrap {width:100%;max-width:1183px;margin:0 auto;}
#footer .bottom .wrap .gap {padding:2.958579% 1.267962%;}  /* 35px 15px */
#footer .bottom .wrap .gap .logo-copyright {width:100%;}
#footer .bottom .wrap .gap .logo-copyright span {float:left;font-size:11px;line-height:200%;letter-spacing:1px;color:#828282;}
#footer .bottom .wrap .gap .logo-copyright span a {display:inline-block;font-size:11px;line-height:200%;letter-spacing:1px;color:#828282;vertical-align:top;transition:all .5s;}
#footer .bottom .wrap .gap .logo-copyright span a:hover {color:#575757;}
#footer .bottom .wrap .gap .logo-copyright h1 {float:right;}
#footer .bottom .wrap .gap .logo-copyright h1 a {display:block;width:100%;}
#footer .bottom .wrap .gap .logo-copyright h1 img {width:100px;}



/* goTop 버튼 */
.goTop {z-index:3;position:fixed;bottom:-100px;right:30px;width:30px;height:30px;transition:bottom 1s;}
.goTop.addGoTop {bottom:50px;}
.goTop a {display:block;width:100%;height:100%;text-align:center;color:#fff;background:#000;border-radius:50%;opacity:0.7;transition:opacity .6s;}
.goTop a:hover {opacity:1;color:#333;background:#fffa82;}
.goTop a i {display:block;width:100%;height:100%;font-size:30px;}

/* 퀵메뉴 */
.quick-buy {z-index:4;position:fixed;top:120px;right:-130px;width:175px;height:39px;transition:all .5s;}
.quick-buy:hover {right:0;}
.quick-buy a {display:block;font-size:11px;letter-spacing:1px;line-height:200%;color:#fff;padding:8px 15px;background:rgba(50,50,50, .8);border-radius:4px;}
.quick-buy a img {width:17px;padding-right:13px;}

.quick-question {z-index:4;position:fixed;top:170px;right:-130px;width:175px;height:39px;transition:all .5s;}
.quick-question:hover {right:0;}
.quick-question a {display:block;font-size:11px;letter-spacing:1px;line-height:200%;color:#fff;padding:8px 15px;background:rgba(50,50,50, .8);border-radius:4px;}
.quick-question a img {width:17px;padding-right:13px;}


/* 모달창 */
.modal {display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;}
.modal .img-wrap {line-height:969px;text-align:center;cursor:url(../img/out.jpg),auto;}
.modal .img-wrap a img {width:100%;max-width:800px;}

.modal .arrow-left {z-index:2;position:absolute;top:50%;left:30px;width:50px;height:50px;margin-top:-25px;}
.modal .arrow-left a {display:block;text-align:center;width:100%;height:100%;}
.modal .arrow-left a i {display:block;width:20px;height:20px;border-top:2px solid #7f7f7f;border-left:2px solid #7f7f7f;transform:rotate(-45deg);transition:all .5s;}
.modal .arrow-left a:hover i {border-color:#f7d23d;}

.modal .arrow-right {z-index:2;position:absolute;top:50%;right:0;width:50px;height:50px;margin-top:-25px;}
.modal .arrow-right a {display:block;text-align:center;width:100%;height:100%;}
.modal .arrow-right a i {display:block;width:20px;height:20px;border-top:2px solid #7f7f7f;border-right:2px solid #7f7f7f;transform:rotate(45deg);transition:all .5s;}
.modal .arrow-right a:hover i {border-color:#f7d23d;}

.modal .close {z-index:2;position:absolute;top:15px;right:10px;width:30px;height:30px;}
.modal .close a {position:relative;display:block;width:22px;height:14px;}
.modal .close a .closeLine {transition:all .3s;position:absolute;left:0;display:block;width:100%;height:2px;background:#7f7f7f;}
.modal .close a:hover .closeLine {background:#f7d23d;}
.modal .close a .closeLine1 {top:50%;margin-top:-1px;transform:rotate(135deg);}
.modal .close a .closeLine2 {display:none;}
.modal .close a .closeLine3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}





